.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
    background-color: orangered;
    border:30px solid black;
    text-transform: uppercase;
}
#value{
    font-size: 7rem;
    font-weight: bold;
}
body{
  margin: 0;
  padding: 0;
  background-color: #ccc;
}
h1{
    font-weight: bolder;
    font-size: 3rem;
}
.btn:hover{
    background-color: aqua;
    color: black;
    font-size: xx-large;
    border-radius: 50%;
}